# Application Environment
ENVIRONMENT=development
LOG_LEVEL=INFO

# Database Configuration (Optional / Future MLOps Storage)
DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Model Artifacts Path
MODEL_DIR_PATH=models/
